<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">기대효과</h2>
                <h3 class="section-subheading"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3">
                <span class="content">
                    <img src="{{ site.baseurl }}\img\effectes\1.png" alt="{{ post.title }}" style="width: 100px; height: 100px;">
                </span>
                <h4 class="service-heading">비즈니스 지표</h4>
                <p class="text-muted">12월에는 전월 대비 활성 사용자 수가 20% 증가하며 
                    플랫폼에서의 사용자 참여가 매우 증가했습니다. 
                    일일 활성 사용자도 35% 증가하여 높은 사용자 유지율을 보이고 있습니다. </p>
            </div>      
            <div class="col-md-3">
                <span class="content">
                    <img src="{{ site.baseurl }}\img\effectes\2.png" alt="{{ post.title }}" style="width: 100px; height: 100px;">
                </span>
                <h4 class="service-heading">상담센터 지원</h4>
                <p class="text-muted">
                    Acme의 전략이 성공적인 결과를 내고 있습니다. 
                    가입과 구독 갱신이 유의미하게 증가하여 플랫폼에 대한 고객 만족도와 신뢰도가 높다는 것을 볼 수 있습니다. 
                    수익 또한 증가 추세에 있으며, 사용자 베이스의 확대와 수익화 전략의 효과를 보여줍니다.
                </p>
            </div>      
        </div>
    </div>
</section>