<!-- Services Section -->

    <section id="news-highlights" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="news-item">
                        <img src="path/to/news-image-1.jpg" alt="뉴스 이미지 1" class="news-image">
                        <div class="news-content">
                            <h4>LG유플러스-쿠쿠, AI콜봇으로 고객 상담…“재상담률 75% 감소 효과</h4>
                            <p class="text-muted">2024.01.01</p>
                            <a href="https://www.etoday.co.kr/news/view/2339201" class="btn btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-item">
                        <img src="path/to/news-image-2.jpg" alt="뉴스 이미지 2" class="news-image">
                        <div class="news-content">
                            <h4>‘반쪽 부활’ 외국인노동자 센터…혼란 계속...</h4>
                            <p class="text-muted">2024.01.01</p>
                            <a href="https://www.danbinews.com/news/articleView.html?idxno=27053" class="btn btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="news-item">
                        <img src="path/to/news-image-3.jpg" alt="뉴스 이미지 3" class="news-image">
                        <div class="news-content">
                            <h4>[단독] 작년 외국인 근로자 임금 '1223억' 못 받았다</h4>
                            <p class="text-muted">2024.01.01</p>
                            <a href="https://www.hankyung.com/article/202309135053i" class="btn btn-primary">자세히 보기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>